Resource_XML RCDATA "controls.xml"
I_NO ICON "RESOURCES\\NO.ico"
E_SET ICON "RESOURCES\\YES.ico"
I_AXELMETER ICON "RESOURCES\\AXELMETER.ico"
I_CAN ICON "RESOURCES\\CAN.ico"
I_CHIP ICON "RESOURCES\\CHIP.ico"
D_CONFIG ICON "RESOURCES\\D_CONFIG.ico"
D_INFO ICON "RESOURCES\\D_INFO.ico"
D_LOG ICON "RESOURCES\\D_LOG.ico"
I_DEFAULT ICON "RESOURCES\\DEFAULT.ico"
E_CONFIG ICON "RESOURCES\\E_CONFIG.ico"
E_INFO ICON "RESOURCES\\E_INFO.ico"
E_LOG ICON "RESOURCES\\E_LOG.ico"
I_FLIP ICON "RESOURCES\\FLIP.ico"
I_FLOP ICON "RESOURCES\\FLOP.ico"
I_GEO ICON "RESOURCES\\GEO.ico"
I_MODEM ICON "RESOURCES\\GSM.ico"
I_PINS ICON "RESOURCES\\INOUT.ico"
I_MEMORY ICON "RESOURCES\\MEMORY.ico"
I_PARAMS ICON "RESOURCES\\PARAMS.ico"
I_SERVERS ICON "RESOURCES\\SERVERS.ico"
I_EMPTY ICON "RESOURCES\\EMPTY.ico"
E_OPEN ICON "Resources\\OPEN.ico"
E_SAVE ICON "Resources\\SAVE.ico"
E_GET ICON "Resources\\UPDATE.ico"
Resource_33 RCDATA "JSON\\33.json"
Resource_5 RCDATA "JSON\\5.json"
Resource_101 RCDATA "JSON\\101.json"
Resource_102 RCDATA "JSON\\102.json"
Resource_103 RCDATA "JSON\\103.json"
Resource_105 RCDATA "JSON\\105.json"
Resource_200 RCDATA "JSON\\200.json"
Resource_201 RCDATA "JSON\\201.json"
Resource_202 RCDATA "JSON\\202.json"
Resource_203 RCDATA "JSON\\203.json"
Resource_205 RCDATA "JSON\\205.json"
Resource_206 RCDATA "JSON\\206.json"
Resource_207 RCDATA "JSON\\207.json"
Resource_208 RCDATA "JSON\\208.json"
Resource_209 RCDATA "JSON\\209.json"
Resource_210 RCDATA "JSON\\210.json"
Resource_211 RCDATA "JSON\\211.json"
Resource_212 RCDATA "JSON\\212.json"
Resource_213 RCDATA "JSON\\213.json"
Resource_215 RCDATA "JSON\\215.json"
Resource_216 RCDATA "JSON\\216.json"
Resource_31 RCDATA "JSON\\31.json"
I_MINIMIZE ICON "Resources\\MINIMIZE.ico"
I_MAXIMIZE ICON "Resources\\MAXIMIZE.ico"
I_NORMALIZE ICON "Resources\\NORMALIZE.ico"
D_WELLCOME ICON "Resources\\D_WELLCOME.ico"
E_WELLCOME ICON "Resources\\E_WELLCOME.ico"
E_ATTENTION ICON "Resources\\E_ATTENTION.ico"
D_FUEL ICON "Resources\\D_FUEL.ico"
E_FUEL ICON "Resources\\E_FUEL.ico"
Resource_32 RCDATA "JSON\\32.json"
Resource_34 RCDATA "JSON\\34.json"
I_PAUSE ICON "Resources\\PAUSE.ico"
I_PLAY ICON "Resources\\PLAY.ico"
Resource_8 RCDATA "JSON\\8.json"
Resource_9 RCDATA "JSON\\9.json"
Resource_250 RCDATA "JSON\\250.json"
Resource_217 RCDATA "JSON\\217.json"
Resource_219 RCDATA "JSON\\219.json"
